body {
  background-color: rgb(16, 2, 78);
  background-image: linear-gradient(rgb(16, 2, 78),rgb(145, 4, 145) );
  margin-left: 260px;

}
.thanhngang{
  max-width: 100%;
}
.button {
    background-color: #fcff4c; 
    border: none;
    color: rgb(14, 0, 31);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    align-items: center;
    float:center;
    border-radius: 15px;
}
  
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(251, 251, 251, 0.634),0 17px 50px 0 rgba(0,0,0,0.19);
  }  
  .chu{
    float:center;
    text-align: center;
  }
  .circle-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover; /
    border: 3px solid #ddd; 
    margin-left: 350px;
    
}
.circle-img:hover {
    box-shadow: 0 12px 16px 0 rgba(233, 231, 231, 0.523),0 17px 50px 0 rgba(0,0,0,0.19);

  } 
  .caption {
    position: absolute;
    transform: translate(-50%, -50%); 
    color: black;
    font-size: 16px;
    font-weight: bold;
    float:center;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .alo2{
    max-height: 1020px ;
    max-width: 1000px ;
    background-color: rgba(212, 212, 212, 0.563) ;
    color:black;
    float:center;
    text-align: center;
    margin-top:10px ;
    border-radius: 18px;
    border: 10px ;
    border-color: whitesmoke;
    align-items: center;
}
.dropdown {
  margin-top: 15px;
  float: left;
  overflow: hidden;
  margin: 6px;
  border-radius: 15px;
}

.dropdown .dropbtn {
  font-size: 20px;
  border-radius: 15pxpx;
  outline: none;
  background-color: rgb(244, 255, 86);
  color: #92736c;
  padding: 14px 16px;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 42);
}

.dropdown-content {
  border-radius: 15px;
  display: none;
  position: absolute;
  background-color: #707070;
  width: 136px;
  box-shadow: 0px 8px 16px 0px rgba(0, 195, 255, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: bolder;
  border-radius: 15px;
}

.dropdown-content a:hover {
  background-color: #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a {
  text-decoration: none;
}
.sauactive{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d2000081;
  width: 800px;
 
  margin-left: 100px;
}
.alo1{
  float:left;
  margin-left: 11px;
}
.alo1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  float: center;
  display: block-inline;
  
}
.alo1:hover {
  background-color: #d20000c6;
}
.cuoi{
  width:2000px;
  height: 100px;
  background-color: rgb(88, 88, 88);
  margin-left:-500px;
  display: flex; 
  justify-content: center;
  align-items: center;
}